#review-form {
    display: grid;
    
    .review-form-input-text {
        font-family: monospace;
        margin: 10px;
    }

    textarea {
        margin: 10px;
        resize: none;
        height: 1.2em;
        overflow: hidden;
    }

    textarea:focus {
        height: 10em;
    }

    .review-form-submit {
        margin: 10px;
        line-height: 2;
    }
    .review-form-submit::after {
        content:'Submit review'; 
    }

    .review-form-rate-manager {
        margin-left: auto;
        margin-right: auto;

        button {
            border: none;
            outline: none;
            background: transparent;
            color: orange;
            font-size: 3em;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .review-form-validation-box {
        border: 1px solid orangered;
        color: orangered;
        font-weight: bold;
        padding: 5px;
        margin: 10px;
    }
    
    .review-form-validation-box.valid {
        border: 1px solid limegreen;
        color: green;
        font-weight: bold;
        padding: 5px;
        margin: 10px;
    }
    .review-form-validation-box.none {
        display: none;
    }
}