@import 'variebles';
.main {
  #map {
    width: 100%;
  }
  #map.expanded {
    height: $mainPageMapHeight;
  }
  
  #map.collapsed {
    height: 0;
  }
  .map-icon-main-page {
    font-size: 1em;
    float: right;
    margin: 7px 7px;
    i {
      font-size: 4em;
    }
  }
}
  
  .inside {
    .map-icon {
      font-size: 0.5em;
      float: right;
      margin: 7px 7px;
      i {
        font-size: 2em;
      }
    }
  }
  
  #map {
    background-color: #ccc;
  }
  
  #map-icon {
    border:none; 
    font: inherit;
    cursor: pointer;
    outline:0;
    color: black;
    background:none!important;
    padding:0!important;
  }