@import 'variebles';
  .main {
    #map-container {
      width: 100%;
    }
    #map-container.expanded {
      height: $mainPageMapHeight;
    }
    
    #map-container.collapsed {
      height: 0;
    }
    .map-icon-main-page {
      font-size: 1em;
      float: right;
      margin: 7px 7px;
      i {
        font-size: 4em;
      }
    }
  }
  
  .inside {

  }
  
  #map {
    width: 100%;
    height: 100%;
  }
  
  #map-icon {
    border:none; 
    font: inherit;
    cursor: pointer;
    outline:0;
    color: black;
    background:none!important;
    padding:0!important;
  }